<%# NavBar %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# Left-hand side of Navbar %>
  <%= link_to 'Guitar Lessons', teachers_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%# Drop-down menu - Changes depending not logged-in/logged-in/logged-in and has a Teacher Profile %>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

    <%# Show navbar items when user is logged-in %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar_logged_in' %>

    <%# Show navbar items when user is logged out %>
	  <% else %>
     <%= render 'shared/navbar_guest' %>

    <% end %>
  </div>
</nav>
